* {
    box-sizing: border-box;
}

/**********Id Css*/
#body {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
}

#navbar {
    background-color: aliceblue;
}

#oynat {
    text-align: center;
    width: 50%;
}

#arrow {
    text-align: center;
    font-size: 80px;
    color: aliceblue;
}

#logo {
    font-family: 'Merienda', cursive;
    font-size: 34px;
}

/********************************************************/
/**********Class Css*/
body {
    font-family: 'Roboto Condensed', sans-serif;
}

.container-content {
    height: 1338px;
    background-image: url(../img/resized_4c43d-2f46ddf81104202026e9530e_2.jpg);
    background-size: 2457px 1488px;
    background-repeat: space;
    background-position: 30% 10%;
    background-attachment: fixed;
}

.field {
    margin: 5px 10% 5px 10%;
    display: block;
    width: auto;
    height: auto;

}

.field-content {

    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-style: solid;
    border-top: 0px;
    border-color: aliceblue;

    padding: 40px;
    background-color: #202020;
    width: 100%;
    height: auto;
    display: table;
}
.field-content2 {

    border-radius: 5px;
    border-style: solid;
    border-color: coral;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 0px;
    padding: 40px;
    background-color: #202020;
    width: 100%;
    height: auto;
    display: table;
}

.welcome {
    color: aliceblue;
    text-align: center;
    font-family: 'Sofia', cursive;
    font-size: 50px;
}

.me {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff1f8;
    text-decoration: none;
}

.single-line {

    border-top: 2px;
    margin: 0px 25% 0px 25%;
    border-top: solid;
    border-top-color: #ff3e3e;
}

.bas {
    text-align: center;
    padding: 0px 10px 0px 10px;
    width: 100%;
}

.empty:after {
    content: '.';
    visibility: hidden;
    background-color: aliceblue;
    float: left;
    width: auto;
    height: 289px;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

/********************************************************/
/**********Media Query*/
@media screen and (max-width: 768px) {
    .field-content {
        float: left;
        width: 100%;
    }
    .me {
        margin-top: 40px;
        margin-bottom: 40px;

    }
}

@media screen and (min-width: 768px) {

    .field-content, dield-content2 {
        float: left;
    }
}

/********************************************************/
